<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiante | Nuevo</title>
    <link rel="stylesheet" href="../static/css/estudiantes.css">
    <link rel="stylesheet" href="../static/css/rojo.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container-custom">
    <h1>BIENVENIDOS QUERIDOS ESTUDIANTES !!</h1>
    <h3>Selecciona tu aula</h3>
    <div class="mb-5 container-btns-new" id="container-btns"></div>
    <footer>
        <a href="/" class="btn btn-secondary" role="button" aria-disabled="true">Antiguo Login Estudiantes</a>
        <a href="/docente" class="btn btn-secondary" role="button" aria-disabled="true">Iniciar Sesión Docentes</a>
    </footer>

    <!-- Aqui comienzan los scripts -->
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script>

         // Valida que exista la sesión
         if(localStorage.getItem("aula-seleccionada") !== null) {
            window.location = "/list-students"
        } 

        let botones = document.querySelector('#container-btns')

        $.get("/get-aulas", (result) =>{
            botones.innerHTML = ''
            if (result.status) {
                result.data.forEach(aula => {
                    let idAula = aula._id.$oid
                    let aulaNombre = aula.nivel + " - " + aula.paralelo
                    let boton = `
                        <button data-id="${idAula}" class="btn-access">
                            ${aulaNombre}
                        </button>
                    `
                    botones.innerHTML += boton
                });
            }
        })

        botones.onclick = (e) => {
            let btnID = e.target.dataset.id
            if(btnID) {
                data = {
                    aulaID: btnID,
                    aulaNombre: e.target.innerHTML
                }

                localStorage.setItem("aula-seleccionada", JSON.stringify(data))
                window.location = "/list-students"
            }
        }

    </script>
</body>
</html>